In [2]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder

import pandas as pd

In [11]:
NAME = 'bank'
df = pd.read_csv(f"../data/processed/{NAME}.csv")
lb = LabelEncoder()
for i in df.columns:
    df[i] = lb.fit_transform(df[i])

In [12]:
# clusters = KMeans(n_clusters=10, random_state=0, n_init="auto").fit_predict(df)
CLUSTERS = 20
clusters = KMeans(n_clusters=CLUSTERS, random_state=0, n_init="auto").fit_predict(df.drop('y', axis=1))

In [13]:
clustered_data = []
for i in range(CLUSTERS):
    cluster_df = df[clusters == i]
    all_elem = cluster_df['y'].value_counts()
    clustered_data.append({
        'df': cluster_df,
        'ones': all_elem[1] / all_elem.sum()
    })

In [14]:
sorted(clustered_data, key=lambda x: x['ones'])

[{'df':       age  job  marital  education  default  balance  housing  loan  contact  \
  18      6    1        2          0        0      163        1     0        2
  48     13    2        2          0        1       27        1     1        0
  132    24    1        1          3        1       34        1     0        2
  152    26   10        0          0        1      151        1     1        2
  162    22    0        2          1        0      146        0     1        2
  ...   ...  ...      ...        ...      ...      ...      ...   ...      ...
  4377   12    1        1          1        0       47        1     0        2
  4460   21    9        1          1        0       99        1     0        2
  4474   25    1        1          0        0      157        1     0        1
  4516   14    7        1          1        0      119        1     0        0
  4517   38    6        1          2        1        0        1     1        2

        day  month  duration  campaign  pdays  previous  poutcome  y
  18     22      8       246         0      0         0         3  0
  48      3      3       200         0      0         0         3  0
  132    29      8        63         2      0         0         3  0
  152     0      5        88         0      0         0         3  0
  162     8      8        31         2      0         0         3  0
  ...   ...    ...       ...       ...    ...       ...       ... ..
  4377    1      6       111         1      0         0         3  0
  4460   25      8       123         0      0         0         3  0
  4474    9      5        69         0      0         0         3  0
  4516   29      5       325         4      0         0         3  0
  4517    8      8       149         0      0         0         3  0

  [171 rows x 17 columns],
  'ones': 0.005847953216374269},
 {'df':       age  job  marital  education  default  balance  housing  loan  contact  \
  5      16    4        2          2        0      934        0     0        0
  26     36    1        1          0        0      845        1     0        2
  27     48    5        1          3        0      900        0     0        1
  28     37    6        1          1        0      966        0     1        0
  41     17    4        2          2        0      786        0     0        0
  ...   ...  ...      ...        ...      ...      ...      ...   ...      ...
  4315   18    0        1          1        0      936        0     0        0
  4362   21    9        1          1        0      901        0     0        0
  4383    7    0        2          1        0      831        0     0        1
  4477   13    4        2          2        0      805        0     0        0
  4510   17    9        0          1        0      796        1     0        2

        day  month  duration  campaign  pdays  previous  poutcome  y
  5      22      3       137         1    109         3         0  0
  26      4      8       243         0      0         0         3  0
  27     16      1       115         0     50         2         0  0
  28     29      5       145         1      0         0         3  0
  41     10      1       102         1      0         0         3  0
  ...   ...    ...       ...       ...    ...       ...       ... ..
  4315   20      0       215         0      0         0         3  0
  4362   23      6       216         1    142         2         1  0
  4383   27      4       108         0      0         0         3  0
  4477    6      1        97         1      0         0         3  0
  4510   19      8       125         1      0         0         3  0

  [252 rows x 17 columns],
  'ones': 0.01984126984126984},
 {'df':       age  job  marital  education  default  balance  housing  loan  contact  \
  20     19    4        0          3        0      274        1     0        0
  21     23    4        0          2        0      290        0     0        0
  22     25    7        2          1        0      380        0     0        2
  23     25    2        1          1        0      367        0     0        0
  29     34    0        1          1        0      379        0     1        0
  ...   ...  ...      ...        ...      ...      ...      ...   ...      ...
  4491   16    1        2          1        0      274        1     0        0
  4493    9    9        2          2        0      274        1     0        2
  4497   12    2        2          2        0      312        0     0        0
  4502   23    7        1          1        0      216        1     1        0
  4506   23   10        0          2        0      183        0     0        0

        day  month  duration  campaign  pdays  previous  poutcome  y
  20     17      9        92         1      0         0         3  0
  21     18      9       136         2      0         0         3  0
  22     11      6       105         1      0         0         3  0
  23      6      5       121         1      0         0         3  0
  29     20      1        70         1      0         0         3  0
  ...   ...    ...       ...       ...    ...       ...       ... ..
  4491   15      0       165         0      0         0         3  0
  4493    3      6       201         5      0         0         3  0
  4497   19      9       181         1      0         0         3  0
  4502    4      3        39         0      0         0         3  0
  4506   28      1        81         3      0         0         3  0

  [632 rows x 17 columns],
  'ones': 0.02531645569620253},
 {'df':       age  job  marital  education  default  balance  housing  loan  contact  \
  6      17    6        1          2        0      569        1     0        0
  13      1    8        2          1        0      750        0     0        0
  14     12    1        1          1        0      620        1     1        0
  24      7    3        1          2        0      778        0     0        0
  39      4    7        2          2        0      623        1     0        2
  ...   ...  ...      ...        ...      ...      ...      ...   ...      ...
  4428   29    1        1          3        0      693        1     0        0
  4439    9    8        2          1        0      592        0     0        1
  4482   27    0        1          1        0      716        1     0        0
  4496   11    1        2          1        0      623        0     0        0
  4507   14    7        1          1        0      551        1     0        0

        day  month  duration  campaign  pdays  previous  poutcome  y
  6      13      8       337         0    219         2         1  0
  13     29      0       257         0      0         0         3  1
  14     28      4        85         0    155         1         0  0
  24     29      4       165         2      0         0         3  0
  39     29      8        12        17      0         0         3  0
  ...   ...    ...       ...       ...    ...       ...       ... ..
  4428    1      3       208         0    161         2         1  0
  4439    1      3       193         0      0         0         3  0
  4482   28      4       165         0      0         0         3  0
  4496   27      5       167         2      0         0         3  0
  4507   16      0       302         0      0         0         3  0

  [385 rows x 17 columns],
  'ones': 0.03116883116883117},
 {'df':       age  job  marital  education  default  balance  housing  loan  contact  \
  7      20    9        1          1        0      420        1     0        0
  8      22    2        1          2        0      491        1     0        2
  11     24    0        1          1        0      531        1     0        0
  15     21    4        1          2        0      464        0     1        0
  19     12    7        1          1        0      405        0     0        0
  ...   ...  ...      ...        ...      ...      ...      ...   ...      ...
  4479   20    0        2          1        0      436        1     0        0
  4485   34    1        1          0        0      507        1     0        0
  4488   12   10        2          1        0      577        0     0        0
  4501   15    4        1          2        0      560        1     0        0
  4518   38    9        1          1        0      558        0     0        0

        day  month  duration  campaign  pdays  previous  poutcome  y
  7       5      8       147         1      0         0         3  0
  8      13      8        53         1      0         0         3  0
  11     16      0       109         1      0         0         3  0
  15     28      1       185         1      0         0         3  0
  19      6      5       144         0     89         1         1  0
  ...   ...    ...       ...       ...    ...       ...       ... ..
  4479   29      4       103         1      0         0         3  0
  4485   10      8       234         1    249         5         0  0
  4488   29      4       126         0      2         1         1  0
  4501   25      1        59         3      0         0         3  0
  4518   18      1       147        10      0         0         3  0

  [424 rows x 17 columns],
  'ones': 0.03773584905660377},
 {'df':       age  job  marital  education  default  balance  housing  loan  contact  \
  10     20    7        1          1        0     2254        1     0        2
  25     22    4        1          2        0     2117        0     0        0
  62     29    4        1          2        0     2118        0     0        0
  64     37    0        1          1        0     2323        0     0        0
  72     12    4        2          2        0     2137        1     0        2
  ...   ...  ...      ...        ...      ...      ...      ...   ...      ...
  4401   19    2        0          2        0     2208        0     0        0
  4421   11    4        2          2        0     2205        1     0        2
  4440   26    1        1          0        0     2294        0     0        2
  4441   19    4        1          2        0     2292        0     0        2
  4489   26    4        1          2        0     2167        0     0        0

        day  month  duration  campaign  pdays  previous  poutcome  y
  10     19      8       269         0      0         0         3  0
  25     19      9       178         1      0         0         3  0
  62     12      1       223         1      0         0         3  0
  64      6     10       219         0      0         0         3  0
  72      8      8       150         1      0         0         3  0
  ...   ...    ...       ...       ...    ...       ...       ... ..
  4401    7      5       178         2      0         0         3  0
  4421    2      6        55         0      0         0         3  0
  4440   10      6        38         1      0         0         3  0
  4441   16      6       114         2      0         0         3  0
  4489    4      1       127         4    244         3         0  0

  [191 rows x 17 columns],
  'ones': 0.04712041884816754},
 {'df':       age  job  marital  education  default  balance  housing  loan  contact  \
  0      11   10        1          0        0     1475        0     0        0
  2      16    4        2          2        0     1303        1     0        0
  3      11    4        1          2        0     1352        1     1        2
  35     23    0        0          1        0     1483        1     0        2
  63     29    7        1          1        0     1306        0     0        0
  ...   ...  ...      ...        ...      ...      ...      ...   ...      ...
  4356   32    0        1          1        0     1329        1     0        2
  4395   30    1        1          1        0     1396        0     0        2
  4424   15    4        1          2        0     1390        1     1        2
  4426   22    0        1          2        0     1380        0     0        0
  4467   24   10        0          1        0     1401        1     0        0

        day  month  duration  campaign  pdays  previous  poutcome  y
  0      18     10        75         0      0         0         3  0
  2      15      0       181         0    219         1         0  0
  3       2      6       195         3      0         0         3  0
  35     13      8       146         0      0         0         3  0
  63      3      5       130         1      0         0         3  0
  ...   ...    ...       ...       ...    ...       ...       ... ..
  4356    1      6       147         2      0         0         3  0
  4395   20      8       202         5      0         0         3  0
  4424   12      8       209         0      0         0         3  0
  4426    3      8        50         1      0         0         3  0
  4467   18      9        83         0      0         0         3  0

  [260 rows x 17 columns],
  'ones': 0.057692307692307696},
 {'df':       age  job  marital  education  default  balance  housing  loan  contact  \
  17     18    0        2          2        0     1629        1     0        0
  37     13    1        1          1        0     1565        1     0        0
  44     13    9        2          2        0     1599        1     0        0
  55     29    0        1          1        0     1791        1     0        1
  75     35    4        0          2        0     1816        0     0        0
  ...   ...  ...      ...        ...      ...      ...      ...   ...      ...
  4358   28    0        2          1        0     1679        0     0        0
  4359   27    3        2          2        0     1819        0     0        1
  4412   15    4        2          2        0     1713        1     0        0
  4462   36    6        1          1        0     1712        0     1        0
  4509   32    9        1          2        0     1670        0     0        0

        day  month  duration  campaign  pdays  previous  poutcome  y
  17     19      0       110         0     89         2         0  0
  37     13      9       128         0      0         0         3  1
  44     20      9         7         3      0         0         3  0
  55     14      5       155         1      0         0         3  0
  75     13      1        63         1      0         0         3  0
  ...   ...    ...       ...       ...    ...       ...       ... ..
  4358   17      9       106         4      0         0         3  0
  4359   14      6        90         1      0         0         3  0
  4412    6      8       191         0      0         0         3  0
  4462   17      1       147        11      0         0         3  0
  4509   29      9       206         2      0         0         3  0

  [170 rows x 17 columns],
  'ones': 0.06470588235294118},
 {'df':       age  job  marital  education  default  balance  housing  loan  contact  \
  45     15    4        2          2        0     1029        1     0        2
  86     22    9        2          1        0     1034        0     1        0
  140    13    4        0          2        0     1074        0     0        0
  143    12    4        2          2        0     1030        1     0        0
  147    29    9        1          1        0     1199        1     0        0
  ...   ...  ...      ...        ...      ...      ...      ...   ...      ...
  4463   14    9        2          1        0     1056        1     0        0
  4466   42    4        1          1        0     1087        0     0        0
  4470   12    9        2          2        0     1209        1     0        2
  4514   19    1        1          1        0     1232        1     0        0
  4519    9    1        1          1        0     1187        0     0        0

        day  month  duration  campaign  pdays  previous  poutcome  y
  45      6      8       101         1      0         0         3  0
  86      6      5        56         3      0         0         3  0
  140    11      1       200         1      0         0         3  0
  143    17      9       186         1      0         0         3  0
  147    20      5       164         4      0         0         3  0
  ...   ...    ...       ...       ...    ...       ...       ... ..
  4463   20      9        54         0     65         4         0  0
  4466   19      1       176         0      0         0         3  0
  4470    2      6       203         0      0         0         3  0
  4514   19      0        41         3     90         1         0  0
  4519    5      3       125         3    140         3         1  0

  [256 rows x 17 columns],
  'ones': 0.06640625},
 {'df':       age  job  marital  education  default  balance  housing  loan  contact  \
  4      40    1        1          1        0      274        1     0        2
  9      24    7        1          0        0      218        1     1        0
  58     17    5        2          1        0      375        1     1        2
  70     18    4        1          2        0      274        0     0        0
  76     22    1        0          1        0      445        1     0        0
  ...   ...  ...      ...        ...      ...      ...      ...   ...      ...
  4410   17   10        1          1        0      246        0     0        0
  4419    7    9        2          2        0      349        1     1        2
  4436   17    9        2          2        0      314        0     0        0
  4472   10    1        1          0        0      470        1     0        2
  4483   12    9        1          1        0      393        1     0        0

        day  month  duration  campaign  pdays  previous  poutcome  y
  4       4      8       222         0      0         0         3  0
  9      16      0       309         0     84         2         0  0
  58     25      8       310         0      0         0         3  0
  70     15      5       264         1    115         3         2  1
  76     13      8       363         1    197         1         1  0
  ...   ...    ...       ...       ...    ...       ...       ... ..
  4410   29      4       335         2      0         0         3  0
  4419   18      8       347         0      0         0         3  0
  4436   25      1       355         2      0         0         3  0
  4472   29      8       318         1      0         0         3  0
  4483    3      3       375         0      0         0         3  0

  [360 rows x 17 columns],
  'ones': 0.08333333333333333},
 {'df':       age  job  marital  education  default  balance  housing  loan  contact  \
  1      14    7        1          1        0     2030        1     1        0
  16     37    9        1          1        0     1949        0     0        0
  49     42    0        1          3        0     2013        1     0        0
  93     13    4        2          2        0     1881        0     0        0
  96     22    0        1          2        0     2089        1     0        2
  ...   ...  ...      ...        ...      ...      ...      ...   ...      ...
  4464   34    7        0          1        0     2006        0     0        0
  4471   40    4        1          3        0     1868        0     0        0
  4473   14    9        1          1        0     2031        1     0        0
  4490   39    0        1          1        0     1863        1     0        2
  4500   19    0        1          1        0     1967        1     0        0

        day  month  duration  campaign  pdays  previous  poutcome  y
  1      10      8       216         0    228         4         0  0
  16     26      1       235         4      0         0         3  0
  49     26      4       177         0     37         1         2  1
  93     13      1       161         1      0         0         3  0
  96     13      8       145         1      0         0         3  0
  ...   ...    ...       ...       ...    ...       ...       ... ..
  4464    4      3         4         5      0         0         3  0

In [15]:
for i in range(CLUSTERS):
    pd.DataFrame(clustered_data[i]['df']).to_csv(f"../data/test/{NAME}-{i}.csv", index=False)

In [10]:
best_id = -1
max_val = -1

min_best_id = -1
min_val = 1


for i in range(CLUSTERS):
    rows = clustered_data[i]['df']['y'].value_counts().sum()
    zeros = clustered_data[i]['df']['y'].value_counts()[0]
    ones = clustered_data[i]['df']['y'].value_counts()[1]
    if ones/rows > max_val:
        max_val = ones/rows
        best_id = i

    if ones/rows < min_val:
        min_val = ones/rows
        min_best_id = i
    print(f"Cluster: {i}\n0: {zeros/rows}\n1: {ones/rows}\n")

best_id, max_val
min_best_id, min_val

Cluster: 0
0: 0.776414451261077
1: 0.22358554873892297

Cluster: 1
0: 0.7351672060409924
1: 0.26483279395900755

Cluster: 2
0: 0.7465715852989577
1: 0.2534284147010422

Cluster: 3
0: 0.7408610885458976
1: 0.25913891145410234

Cluster: 4
0: 0.7476683937823834
1: 0.2523316062176166

Cluster: 5
0: 0.7347294938917975
1: 0.26527050610820246

Cluster: 6
0: 0.7964869775893398
1: 0.20351302241066022

Cluster: 7
0: 0.7802690582959642
1: 0.21973094170403587

Cluster: 8
0: 0.7476635514018691
1: 0.2523364485981308

Cluster: 9
0: 0.7724986025712689
1: 0.22750139742873113

Cluster: 10
0: 0.7281299109481404
1: 0.2718700890518596

Cluster: 11
0: 0.7376796714579056
1: 0.26232032854209447

Cluster: 12
0: 0.7417624521072796
1: 0.2582375478927203

Cluster: 13
0: 0.7803680981595092
1: 0.2196319018404908

Cluster: 14
0: 0.7965753424657535
1: 0.20342465753424657

Cluster: 15
0: 0.7618233618233619
1: 0.23817663817663817

Cluster: 16
0: 0.7494517543859649
1: 0.2505482456140351

Cluster: 17
0: 0.7870579382994732
1: 0.2129420617005267

Cluster: 18
0: 0.7657657657657657
1: 0.23423423423423423

Cluster: 19
0: 0.7880523731587561
1: 0.21194762684124385

(14, 0.20342465753424657)

In [97]:
pd.DataFrame(clustered_data[best_id]).to_csv("../data/processed/adult-test-best.csv", index=False)
pd.DataFrame(clustered_data[min_best_id]).to_csv("../data/processed/adult-test-worst.csv", index=False)